@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

.btn {
  @apply px-6 py-2 border border-slate-800 rounded-full uppercase text-xs tracking-widest text-slate-500 transition-all hover:border-slate-500/70 hover:text-slate-100/80;
}
